### python3.10

opencv-python==4.7.0.68
torch==1.13.1+cpu
torchvision==0.14.1+cpu
pandas==1.5.3
numpy==1.24.1
nltk==3.8.1

pillow
scipy
tqdm
scikit-learn
scikit-image
seaborn
matplotlib


# pycocotools might need python3.XX-dev to be installed
pycocotools==2.0.6

# application layer
uvicorn==0.20.0
fastapi==0.89.1
python-multipart
